.redSquare {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  background-color: rgb(216, 25, 25);
  color: white;
  font-weight: bolder;
  font-size: 22px;
  font-family: monospace;
}